@font-face {
    font-family: "Nashville";
    font-weight: 700;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/NASHVILL.TTF');
}

html {
    font-family: "Nashville";
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/wanted-background.jpg');
    background-size: 500px auto;
}

main {
    position: relative;
    margin: 3em auto;
    padding: 1em;
    width: 30em;
    max-width: 95vw;
    box-shadow: 1em .5em 2em rgba(0,0,0,.5);
    background: #C0AD86 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/Wanted.jpg');
    background-size: cover;
}

main::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    display: block;
    content: '';
    width: 200px;
    height: 60px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/tape.png');
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    margin: 0;
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
}

h1 + p {
    margin: 1rem 0;
    border: solid currentColor;
    border-width: .125em 0;
    font-size: 4.5em;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 70%;
    filter: sepia(1);
}

img + p {
    margin: 1rem 0;
    font-size: 5em;
    text-align: center;
}